*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --headers-font: 'Forum', cursive;
    --paragraph-font:'Tenor Sans', sans-serif;
    --contact-buttons-color:rgb(144,110,71);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: solid 1px black;
    background-color: white;
    padding: 13px 20px;
    text-transform: uppercase;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 99;
}

nav{
    display: flex;
    width: 90%;
    margin:0 auto;
    max-width: 1250px;
    height: 100%;
    align-items: center;
}

nav .logo{
    margin-right: 140px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .logo .secondary-text{
    font-size: .7rem;
    letter-spacing: 3.4px;
    margin-top: 5px;
}

nav .links-cont{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    align-items: center;
}

nav .links-cont ul{
    display: flex;
}

nav .links-cont ul li{
    display: flex;
    padding: 20px 0;
    margin:0 30px;
}

nav .links-cont ul li:hover{
    border-bottom: solid 2px black;
    padding-bottom: 18px;
}

nav .links-cont button{
    font-size: 1rem;
}

nav .links-cont button:hover{
    border: solid 2px black;
    background-color: black;
    cursor: pointer;
    color: white;
}

/*main container*/
main{
    padding-top: 135px;
}

.banner-wrap{
    width: 100%;
    height: 1000px;
    position: relative;
    padding-top:170px;
    display: flex;
    justify-content: center;
}

.banner-wrap .image-container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background-image: url("https://lh3.googleusercontent.com/PQQdKcg3E_K9V4ub0AAjHfjkObCaTQmWypXA6YYdZ6QN0xub1wrjFlMraNo-nic_r6cNOzd7fEJRkl_t7YC41Q=w1281");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0px -80px;
}

.banner{
    position: absolute;
    top: 0;
    max-width: 1150px;
    text-align: center;
    padding: 50px 180px;
    background-color: white;
}

.banner h1{
    font-size: 3.3rem;
    margin-bottom: 40px;
    font-family:var(--headers-font);
    font-weight: 300;
}

.banner p{
    font-size:1.5rem;
    margin-bottom: 30px;
}

.banner button{
    border: none;
    font-size: 1.2rem;
    background-color: var(--contact-buttons-color);
    padding: 18px 20px;
    color: white;
}

.introduction-cont{
    width: 100%;
    max-width: 1150px;
    height: 900px;
    margin: 150px auto 100px;
    background-image: url("https://lh3.googleusercontent.com/8YGTIE7eeU2EA3TZ3PGI2eqO5JeUW53gQB1_eYNeb1M9j8panlr3jskuJb1M_GbfXWo86uJRNt1jRM8Cs_tv3Q=w1281");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

article .text{
    position: absolute;
    background-color: white;
    width: 47%;
    top: 150px;
    padding: 60px 50px 60px 25px;
}

article .text h1{
   font-size:2.5rem;
   font-family: var(--headers-font);
   font-weight: 500;
}

article .text p{
    margin:30px 0px;
    font-size: 17px;
    line-height: 30px;
    font-family: var(--paragraph-font);
}


article .img-cont{
    position: absolute;
    right: 0;
    top: 55px;
    padding:20px;
    background-color: white;
}


.icon-section{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;
}

.icon-section h2{
    font-size: 2.7rem;
    font-family: var(--headers-font);
    font-weight: 400;
    text-transform: capitalize;
    margin:60px 0;
}

.icon-section .cont-wrap{
    display: flex;
}

.icon-section img{
    width: 80px;
}

.icon-section .cont{
    padding: 25px;
}

.icon-section .cont h3{
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--headers-font);
    margin:20px 0;
}

.icon-section .cont p{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--paragraph-font);
    line-height: 25px;
    margin:20px 0;
}

